/* colors */
$color-primary: #99B2DD;
$color-primary-hover: darken($color-primary, 5%);

$color-secondary: #F9DEC9;
$color-secondary-hover: darken($color-secondary, 5%);

$color-dark: #3A405A;
$color-dark-hover: darken($color-dark, 5%);

$color-light: #f2f2f2;

/* padding margin units */
$gutter: 15%;

